build/
data/
onnx/
engine/

.vscode
*.ignore
*.onnx
*.nsys-rep
*.tmp
*.log
*.ttf
*.so
*.jpg
*.mp4
create_engine_terminal_output_1407.txt
create_engine_terminal_output_1507.txt
create_engine_terminal_output_1607.txt
data
engine
engine_copied
engine_full
engine_full_1407
engine_part1
engine_part2
engine_part3
